{% load static %}

<nav class="flex justify-between items-center h-16 text-white text-lg">
    <div class="flex items-center gap-4">
        <img src="{% static 'Assets/logo.webp' %}" alt="Fullstack market" class="h-7 w-28 pt-1">
        <div class="flex gap-4">
            <a href="#" class="hover:text-[#CC97B1] transition duration-200">Маркет</a>
            <a href="#" class="hover:text-[#CC97B1] transition duration-200">FAQ</a>
        </div>
    </div>
    <div class="flex items-center gap-4">
        <span>99 999,99$</span>
        <img src="{% static 'Assets/User.png' %}" alt="Avatar" class="h-10 w-10 rounded-full border border-[#6A1E55] border-2">
    </div>
</nav>