{% extends 'Fullstack_market/Base/base.html' %}
{% load static %}

{% block title %}История сделок{% endblock title %}

{% block aside_content %}
<div class="pl-4 text-lg  hover:bg-[#B387A1] transition duration-200 space-x-2">
    <i class="fas fa-user"></i>
    <a href="#">Личный кабинет</a>
</div>
<div class="pl-4 text-lg hover:bg-[#B387A1] transition duration-200 space-x-2">
    <i class="fa-solid fa-shield-halved"></i>
    <a href="#">Безопасность</a>
</div>
<div class="pl-4 text-lg hover:bg-[#B387A1] transition duration-200 space-x-2">
    <i class="fa-solid fa-clock-rotate-left"></i>
    <a href="#">История сделок</a>
</div>
<div class="pl-4 text-lg hover:bg-[#B387A1] transition duration-200 space-x-2">
    <i class="fa-solid fa-table-cells-large"></i>
    <a href="#">Инвентарь</a>
</div>
{% endblock aside_content %}

{% block aside_hor_content %}
<p class="text-md">История сделок</p>
<button class="bg-[#CC97B1] hover:bg-[#B387A1] transition duration-200 text-black px-2 rounded rounded-tr-2xl w-28 h-7 text-md">Выйти</button>
{% endblock aside_hor_content %}

{% block content %}
<div class="text-white pl-4 pt-4">
    <div class="overflow-x-auto rounded-lg">
        <table class="w-full table-auto border-collapse">
            <!-- Заголовок таблицы -->
            <thead>
                <tr class="bg-[#1A1A1D] bg-opacity-75 text-white text-center">
                    <th class="py-2 px-4">Тип</th>
                    <th class="py-2 px-4">ID транзакции</th>
                    <th class="py-2 px-4">Статус</th>
                    <th class="py-2 px-4">Детали</th>
                    <th class="py-2 px-4">Дата</th>
                </tr>
            </thead>
            <tbody>
                <tr class="bg-[#2A2A2D] bg-opacity-75 rounded-lg text-center">
                    <td class="py-2 px-4">Покупка</td>
                    <td class="py-2 px-4">#123456</td>
                    <td class="py-2 px-4 text-green-400">Успешно</td>
                    <td class="py-2 px-4">Получен</td>
                    <td class="py-2 px-4">27.02.2025</td>
                </tr>
                <tr class="bg-[#2A2A2D] bg-opacity-75 rounded-lg text-center">
                    <td class="py-2 px-4">Продажа</td>
                    <td class="py-2 px-4">#654321</td>
                    <td class="py-2 px-4 text-red-400">Ошибка</td>
                    <td class="py-2 px-4">Оплата не прошла</td>
                    <td class="py-2 px-4">26.02.2025</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
{% endblock content %}